/*************************************************************** DEFAULT CODE ***********************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    --main-color: #283526;
    --primary-color: #888888;
    --button-background: #4b709e;
    --primary-button-background: #fe7649;
    --background-color: #e2efff;
}

h1,
h2 {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
}

h4,
h3 {
    font-family: 'Montserrat', sans-serif;
    color: var(--main-color);
}

h3 {
    font-weight: 750px;
    font-size: 2.2rem;
    line-height: 6rem;
    text-transform: capitalize;
}

p,
a,
li,
button {
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
}

p {
    font-size: 1.8rem;
    line-height: 150%;
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

button {
    padding: 1rem 3rem;
    border-radius: 2rem;
    cursor: pointer;
    border: none;
    outline: none;
    line-height: 3.6rem;
    text-transform: capitalize;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

/************************************************************* OUR MENU STYLE ***********************************************************/

header {
    padding: 0 12.5rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12rem;
}

header nav .left-side-menu {
    display: flex;
    /* background-color: #e2efff; */
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

header nav .left-side-menu a img {
    width: 16rem;
    height: 7rem;
}

header nav .left-side-menu .sub-menu {
    display: flex;
    height: inherit;
}

header nav .left-side-menu .sub-menu a li {
    font-size: 1.5rem;
    line-height: 3.6rem;
    text-transform: capitalize;
    transition: all 0.2s;
}

header nav .left-side-menu .sub-menu a {
    margin-right: 4rem;
}

header nav .left-side-menu .sub-menu a li:hover {
    color: var(--button-background)
}

header .right-side-menu {
    width: 50%;
    display: flex;
    /* justify-content: end; */
}

header .right-side-menu .sub-menu {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: end;
}

header .right-side-menu .sub-menu a {
    margin-right: 6rem;
    padding: 0.7rem 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 1rem;
    position: relative;
    z-index: 9;
    transition: all 0.2s;
}

header .right-side-menu .sub-menu button {
    padding: 0.2rem 1.5rem;
    background-color: var(--button-background);
    font-size: 1.5rem;
    color: #fff;
    position: relative;
    z-index: 9;
    border-radius: 1rem;
    transition: all 2s;
}

header .right-side-menu .sub-menu button:hover {
    background-color: #327ddf;
}

header .right-side-menu .sub-menu a li:hover {
    color: var(--button-background);
}

/************************************************************* OUR HERO CSS STYLE ***********************************************************/

.main-hero-section {
    padding: 0 12.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25rem;
}

.main-hero-section h1 {
    width: 50rem;
    font-size: 4.5rem;
    line-height: 7rem;
    margin-bottom: 3rem;
    text-transform: capitalize;
}

.main-hero-section p {
    margin-bottom: 3rem;
    width: 48rem;
    font-size: 1.8rem;
}

.main-hero-section a img {
    width: 13.5rem;
    height: 4rem;
}

.main-hero-section .button-group .appstore {
    height: 4.4rem;
    margin-bottom: -0.4rem;
}

.main-hero-section .button-group a:first-child {
    margin-right: 2.5rem;
}

.main-hero-section .hero-right-side {
    width: 50%;
    height: 100vh;
    background-color: var(--background-color);
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 60px 20px 0px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-hero-section .hero-left-side {
    width: 50%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-hero-section .hero-right-side img {
    width: 80rem;
    height: 65rem;
    margin-right: 35rem;
}

/***************************************************** our 2nd section left side css style ******************************************************/

.common-section {
    width: 100%;
    height: 70rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
    padding: 0 12.5rem;
}

.common-section .left-side {
    height: inherit;
    width: inherit;
}

.common-section .left-side .figure3 {
    width: 31.5rem;
    height: 65rem;
    padding-top: 2.5rem;
    background-color: #b5d1f4;
    border-radius: 2rem 2rem 0rem 2rem;
    margin-left: 12rem;
}

.common-section .left-side .figure1 {
    width: 25rem;
    height: 60rem;
    background-color: var(--background-color);
    padding-top: 0.25rem;
    border-radius: 2rem 2rem 0rem 2rem;
    margin-left: -12rem;
}

.common-section .left-side .figure2 {
    width: 25rem;
    height: 55rem;
    background-color: #f3f9ff;
    border-radius: 2rem 2rem 0rem 2rem;
    margin-left: 6rem;
    margin-top: 2.5rem;

}

.common-section .left-side img {
    width: 35rem;
    height: 50rem;
    border-radius: 2rem;
    margin-left: 6rem;
    margin-top: 2.5rem;
}

/************************************************************************** our 2nd section right side css style  ***************************************************************************/

.common-section .right-side {
    width: inherit;
    height: 68vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1rem;
}

.common-section .right-side h2 {
    width: 45rem;
    font-size: 4rem;
    line-height: 7rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.common-section .right-side p {
    margin-bottom: 3rem;
    width: 45rem;
    font-size: 1.5rem;
}

.common-section .right-side .common-button {
    padding: 0.7rem 2.5rem;
    background-color: var(--primary-button-background);
    margin-right: 5rem;
    color: #fff;
    transition: all 0.2s;
}

.common-section .right-side .common-button-normal {
    padding: 0.7rem 2.5rem;
    color: var(--main-color);
    background-color: transparent;
    transition: all 0.2s;
}

.common-section .right-side .common-button:hover {
    background-color: #f05d2d;
}

.common-section .right-side .common-button-normal:hover {
    background-color: var(--primary-button-background);
    color: #fff;
}

/************************************************************************** OUR 3RD SECTION  ***************************************************************************/

.section-third {
    width: 100%;
    height: 50rem;
    background-color: var(--background-color);
    padding: 3rem 12.5rem;
    margin-bottom: -4rem;
}

.section-third h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
    text-transform: capitalize;
}

.section-third p {
    width: 60rem;
    height: 5rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section-third .section-third-task {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18.4rem;
}

.section-third .section-third-task .task-1,
.section-third .section-third-task .task-2,
.section-third .section-third-task .task-3 {
    width: 30rem;
    height: 26rem;
    padding-top: 2rem;
    /* background-color: cornsilk; */
    text-align: center;
    transition: all 0.3s linear;
    border-radius: 2rem;
}

.section-third .section-third-task .task-1 h3,
.section-third .section-third-task .task-2 h3,
.section-third .section-third-task .task-3 h3 {
    font-size: 2rem;
    text-transform: capitalize;
}

.section-third .section-third-task .task-1 h3,
.section-third .section-third-task .task-3 h3 {
    margin-top: 0.8rem;
}

.section-third .section-third-task .task-1 img,
.section-third .section-third-task .task-2 img,
.section-third .section-third-task .task-3 img {
    width: 10rem;
    height: 11rem;
    transition: all 0.3s;
}

.section-third .section-third-task .task-2 img {
    height: 11.8rem;
}

.section-third .section-third-task .task-1 p,
.section-third .section-third-task .task-2 p,
.section-third .section-third-task .task-3 p {
    width: 25rem;
    /* padding-top: 2rem; */
    height: 6rem;
    font-size: 1.5rem;
}

.section-third .section-third-task .task-3 {
    background: #fff;
    box-shadow: 0rem 0.4rem 2rem rgba(35, 52, 53, 0.25);
}

.section-third .section-third-task .task-1:hover,
.section-third .section-third-task .task-2:hover {
    background: #fff;
    box-shadow: 0rem 0.4rem 2rem rgba(35, 52, 53, 0.25);
}

.section-third .section-third-task .task-1:hover>img,
.section-third .section-third-task .task-2:hover>img,
.section-third .section-third-task .task-3:hover>img {
    transform: rotate(360deg);
}

/************************************************************************** our 4th section css style  ***************************************************************************/
#section-four {
    margin-bottom: 2rem;
}

#section-four .right-side h2 {
    width: 43rem;
}

#section-four .right-side {
    height: 70rem;
}

#section-four .right-side p {
    width: 43rem;
}

#section-four .left-side img {
    width: inherit;
    height: inherit;
    margin: 0;
}

/****************************************************** OUR 5TH SECTION CSS STYLE ******************************************************/
#section-five .left-side img {
    margin: 0;
    width: 45rem;
    height: 65rem;
    margin-top: 3.5rem;
}

#section-five .right-side {
    justify-content: center;
    align-items: center;
    height: inherit;
}

#section-five .right-side h2 {
    font-size: 3.5rem;
    width: 40rem;
    margin-left: 12.5rem;
    line-height: 5rem;
}

#section-five .right-side .fitness-goals {
    margin-left: 12.5rem;
}

#section-five .right-side .rule1,
#section-five .right-side .rule2,
#section-five .right-side .rule3 {
    width: 40rem;
}

#section-five .right-side .rule1 h3,
#section-five .right-side .rule2 h3,
#section-five .right-side .rule3 h3 {
    line-height: 4rem;
    font-size: 1.8rem;
}

.fitness-goals i {
    color: #f05d2d;
}

/* OUR 6TH SECTION FOOTER CSS STYLE */

footer {
    width: 100%;
    background-color: var(--background-color);
    height: auto;
    padding: 5rem 12.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer img {
    width: 13rem;
    height: 5.5rem;
}

footer .logo-div p {
    font-size: 1.2rem;
}

footer .footer-menu {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer .footer-menu h4 {
    line-height: 3rem;
    font-size: 1.5rem;
    text-transform: capitalize;
}

footer .footer-menu li {
    font-size: 1.2rem;
    line-height: 2rem;
    text-transform: capitalize;
}

/* our 6th section social media menu  */

.icon-bar {
    position: fixed;
    top: 40%;
    transform: translateY(-50%);
    z-index: 10;
}


.icon-bar a {
    width: 18rem;
    background-color: #3b5999;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.4rem;
    padding: 0.5rem;
    transition: all 0.5s linear;
    transform: translateX(-14.5rem);
}

.icon-bar a:hover {
    transform: translateX(0);
}

.icon-bar a .fa-brands {
    padding-left: 1rem;
    font-size: 2.5rem;
    animation: letszoom 3s linear alternate-reverse infinite;
}

@keyframes letszoom {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}

.icon-bar .instagram {
    background-color: rgb(196, 29, 73);
}

.icon-bar .github {
    background-color: rgb(40, 39, 39);
}

/* responsiveness */

@media (max-width: 770px) {
    body{
        width: inherit;
    }

    header,
    .main-hero-section,
    .common-section {
        padding: 0 5rem;
    }

    header nav {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
    }

    header nav .left-side-menu {
        width: inherit;
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    header nav .left-side-menu .sub-menu {
        text-align: center;
        width: inherit;
    }

    header nav .left-side-menu .sub-menu a li {
        width: inherit;
    }

    header nav .left-side-menu .sub-menu a {
        margin: 0 auto;
        margin-right: 3rem;
    }

    header nav .left-side-menu .sub-menu #about-us {
        width: 7rem;
    }

    header nav .right-side-menu {
        width: inherit;
    }

    header nav .right-side-menu .sub-menu a {
        border: 1px solid gray;
        border-radius: 20px;
        margin-right: 1rem;
    }

    header nav .left-side-menu .logo {
        width: inherit;
    }

    /* FOR hero section */

    .main-hero-section {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        margin-bottom: 17rem;
    }

    .main-hero-section .hero-left-side {
        order: 2;
        width: 100%;
    }

    .main-hero-section .hero-right-side {
        background-color: transparent;
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .main-hero-section .hero-right-side img {
        width: 35rem;
        height: 35rem;
        margin: 0 auto;
        margin-top: 1rem;
    }

    .main-hero-section .hero-left-side h1 {
        width: 31.5rem;
        font-size: 4rem;
        line-height: 6rem;
        margin-bottom: 1rem;
    }

    .main-hero-section .hero-left-side p {
        width: 31.5rem;
        font-size: 1.5rem;
    }

    /* 2nd section  */

    .common-section{
        width: inherit;
        height: 80vh;
        display: flex;
        flex-direction: column;
        margin-bottom: 45rem;
        margin-left: 0;
    }
    .common-section .left-side .figure1{
        background: transparent;
    }
    .common-section .left-side .figure3{
        margin-left: 2rem;
    }
    .common-section{
        margin-left: 2rem;
    }
    .common-section .left-side .figure2{
        background: var(--background-color);
    }
    .common-section .left-side img{
        width: 31.5rem;
    }
    .common-section .right-side{
        padding: 0;
    }
    .common-section .right-side h2{
        margin-top: 10rem;
        width: 31.5rem;
        font-size: 4rem;
        line-height: 6rem;
        margin-bottom: 1rem;
    }

    .common-section .right-side p{
        width: 31.5rem;
        font-size: 1.5rem;
    }

    .common-section .button-group{
        display: flex;
    }

    /* 3rd section responsiveness */

    .section-third{
        background-color: #fff;
        width: 100vw;
        height: 140vh;
        display: flex;
        flex-direction: column;
        margin-bottom: 45rem;
        margin-left: 0;
        align-items: flex-start;
        padding-left: 0;
        padding-right: 0;
    }
    .section-third h2{
        width: inherit;
        font-size: 4rem;
    }
    .section-third p{
        width: inherit;
        height: 5rem;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    .section-third .section-third-task{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10rem;
    }
    .section-third .section-third-task .task-1,
    .section-third .section-third-task .task-2,
    .section-third .section-third-task .task-3{
        margin: 0 auto;
        background-color: var(--background-color);
    }
    .section-third .section-third-task .task-3:hover{
        background-color: #fff;
    }

    /* 4th section css style */

    #section-four{
        width: 100%;
        position: absolute;
        top: 332rem;
    }

    #section-four .right-side{
        width: inherit;
    }
    #section-four .right-side h2,
    #section-four .right-side p{
        width: inherit;
    }
    #section-four .right-side h2{
        margin-top: 7.5rem;
    }

}